body {
    margin: 0;
    padding: 0;
}
.main {
    margin:auto;
    overflow:hidden;
    background-image: url(https://i.ibb.co/Tcdxv55/farm2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 75%;
    /* width: 100%; */
}
nav{
  margin-top: 10px;
}
  .text-link{
    float: left;
    margin-left: 40px;
  }
  .text-link a{
    text-decoration: none;
    color: white;
    font-size: 25px;
  }
  .nav{
    float: right;
  }
  .nav .active a{
    color: orange;
  }
  .nav li  {
    display:inline;
    padding-right: 25px;
    opacity: 0.75;
  }
  .nav li:hover {
    opacity: 1;
  }
  .nav li::before{
  transition: 300ms;
  height: 5px;
  content: "";
  position: absolute;
  }
  .nav li a {
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-decoration: none;
  }
  #caps {
    color: orange;
    font-size:25px;
    text-transform: uppercase;
    font-weight: bold;
  }
  .showcase{
    margin-top: 120px;
    width: 50%;
    margin-left: 50px;
    padding-bottom: 20px;
  }
.showcase h3{
    color: white;
    font-size: 50px;
    margin-bottom: 0px;
}
.showcase p{
    color: white;
    font-size: 18px;
}
.btn1{
  background-color:orange;
  border: none;
  color: white;
  cursor: pointer;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  text-transform: initial;
  font-weight: bold;
}
.btn2{
  background-color: white;
  border: none;
  color: black;
  cursor: pointer;
  padding: 5px;
  text-align: center;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: bold;
}
.services{
  width: 100%;
    display:flex;
    margin-top: 30px;
    margin-bottom: 50px;
}
#first{
  width:50%;
    margin-left: 50px;
    margin-right:60px;
}
#first h3{
  text-transform: capitalize;
  font-size: 30px;
  margin-bottom: 0px;
}
#first button{
  padding: 8px;
  background-color: orange;
  border-color: orange;
  border-style: none;    
}
#first button a{
   color: white;
   text-decoration: none;
   font-weight: bold;
}
#second{
  width: 45%;
    padding-left: 10px;
}
#second h3{
  font-size: 30px;
  margin-bottom: 0px;
  margin-left: 20px;
}
#second ul{
  list-style: none;
}
#second ul li::before{
  font-weight: bold;
  content: "\2022";
  color: red;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
footer{
  background-color: #3c3c3c;
  color: white;
  text-align: center;
  font-weight: bold;
  height: 40px;
  line-height: 40px;
}